.calTable{
    width : 100%;
    height: 100%
}

.calTable td{
    border: 1px solid;
    width : 14.28%;
    padding: 10px;
    vertical-align: top;
}

.calPrevMonth{
    background-color: #e9ecef;
    color: #545b62; 
    opacity: 0.4;
}

.days{
    width : 100%;
}
.days td{
    border-bottom: 4px solid;
    border-left: 1px double;
    border-right: 1px double;
    border-top: 1px double;
    border-bottom-color: #002752; 
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    width : 14.28%;
    padding: 10px;
    vertical-align: top;    
}


.addBtn{
    margin-left: 50%;
}

.plusBtn{
    width: 50px;
    height: 50px;
    text-align: center;
    
}